<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>(CI) Variables</title>

        <link rel="stylesheet"
              type="text/css"
              href="src/static/style.css" />
        <link rel="stylesheet"
              type="text/css"
              href="lib/semantic.css" />
        <link rel="stylesheet"
              type="text/css"
              href="lib/sidebar.css" />

        <script data-main="src/app" src="lib/require.min.js"></script>
    </head>
    <body>
        <div id="app-scenarios-links"
             class="ui left vertical inverted sidebar menu">
            <div class="header item">
                Scenarios
            </div>
            <a class="item">
                CI Variables using HI
                <div class="item">
                    "enable" content through simple actions
                </div>
            </a>
            <a id="app-scenario-2" class="item">
                CI Variables through AI
                <div class="item">
                    help to discover CI Variables
                </div>
            </a>
            <a id="app-scenario-3" class="item">
                CI Variables through AI + HI
                <div class="item">
                    everybody learns!
                </div>
            </a>
            <a id="app-scenario-4" class="item">
                Queries + Update + Creation = The same!
            </a>
            <a class="item">
                How would you define contact|todo or event entity?
                <div class="item">
                    each entity has some features
                </div>
                <div class="item">
                    is there a point of differentiating between them?
                </div>
                <div class="item">
                    they are just containers of information! should behave
                    differently based on the view (context)!
                </div>
            </a>
            <a class="item">
                Commands
            </a>
        </div>
        <div class="pusher">
            <div class="ui fixed inverted main menu">
                <a id="app-show-scenarios" class="item">
                    <i class="content icon"></i>
                </a>
                <div class="item header">
                    (CI) Variables
                </div>
            </div>
            <div class="ui padded grid">

                <div class="ten wide column">
                    <div id="app-query-input"
                         class="hidden ui input command-bar">
                      <input id="app-command-bar"
                             type="text"
                             placeholder="create todo my shopping list">
                    </div>
                </div>

                <div class="fourteen wide column row equal height">
                    <div id="app-query-output"
                         class="hidden six wide column floated left">
                         <div class="black panel app-drop-zone">

                         </div>
                         <div class="yes no border dark panel"
                              id="app-object-list"
                              style="height: 40em; overflow: scroll;">
                         </div>
                    </div>
                    <div class="eight wide column floated right">
                        <div id="app-raw-text" class="panel">
                                <div class="ui label">From:</div> janet.smith@edu.world
                            <div class="ui divider"></div>
                                <div class="ui label">Subject:</div> Are you ready for the party?
                            <div class="ui divider"></div>
                            Hey Gordon, <br>
                            <br>
                            I'm very glad that you've decided to come to my party! I'm sure it would be amazing. Since you've offered that you could cook how about you collect all ingredients for spring rolls and we prepare them together? If that fine with you please buy. 1-2 carrots, red pepper, cucumber, some mint,
                            rice noodles (the thinner the better) and most important rice spring roll papers, hope it's not too complicated:-)

                            Ah and also maybe some good wine? Red should be good.
                            <br>
                            <br>
                            I know that you're busy guy but please remember that the party is this Friday at 8 pm, please be on time!
                            <br>
                            Btw my address is 5 Johnson Court, Amazing Avenue<br>
                            <br>
                            One last thing you've asked me last time about her phone number (you know whom I'm talking about;-)) so here it is 07999911111 (she has an apartment at High Street 8), good luck:-)<br>
                            <br>
                            All best,<br>
                            Janet
                        </div>
                    </div>
                    <div class="one wide column floated left">
                        <div id="app-ai-entity-finder"
                             class="hidden ui vertical buttons">
                            <div id="app-find-date"
                                 class="ui yellow icon button">
                                <i class="calendar icon"></i>
                            </div>
                            <div id="app-find-address"
                                 class="ui green icon button">
                                <i class="home icon"></i></div>
                            <div id="app-find-emailAddress"
                                 class="ui blue icon button">
                                @
                            </div>
                            <div id="app-find-telephoneNumber"
                                 class="ui red icon button">
                                <i class="call icon"></i>
                            </div>
                            <!-- <div class="ui purple icon button"><i class="asterisk icon"></i></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <script type="text/template" id="app-contact-template">
                <div class="ui card">
                    <div class="content">
                        <a class="header"><%= name %></a>
                        <div class="description" contenteditable>
                            <%= description %>
                        </div>
                    </div>
                    <div class="extra content">
                        <table class="ui celled striped table">
                          <tbody>
                            <tr>
                              <td><i class="home icon"></i></td>
                              <td class="right aligned collapsing app-drop-zone">
                                  <%= address %>
                              </td>
                            </tr>
                            <tr>
                              <td><i class="call icon"></i></td>
                              <td class="right aligned collapsing app-drop-zone">
                                  <%= telephoneNumber %>
                              </td>
                            </tr>
                            <tr>
                              <td>@</td>
                              <td class="right aligned collapsing app-drop-zone">
                                  <%= emailAddress %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </script>


            <script type="text/template" id="app-todo-template">
                <div class="ui card">
                    <div class="content">
                        <div class="header" contenteditable>
                            <%= name %>
                        </div>
                        <div class="description" contenteditable>
                            <%= description %>
                        </div>
                    </div>
                    <div class="extra content">
                        <table class="ui celled striped table">
                          <tbody>
                            <% _.each(item, function(i) { %>
                                <tr>
                                  <td contenteditable>Item</td>
                                  <td class="right aligned collapsing app-drop-zone">
                                    <%= i %>
                                  </td>
                                </tr>
                            <% }); %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </script>


            <script type="text/template" id="app-event-template">
                <div class="ui card">
                    <div class="content">
                        <a class="header"><%= name %></a>
                        <div class="description" contenteditable>
                            <%= description %>
                        </div>
                    </div>
                    <div class="extra content">
                        <table class="ui celled striped table">
                          <tbody>
                            <tr>
                              <td><i class="wait icon"></i></td>
                              <td class="right aligned collapsing app-drop-zone">
                                  <%= date %>
                              </td>
                            </tr>
                            <tr>
                              <td><i class="home icon"></i></td>
                              <td class="right aligned collapsing app-drop-zone">
                                  <%= address %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </script>
        </div>
    </body>
</html>